.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
  display: flex;
  justify-content: space-between; /*cho 2 cai bay ra xa */
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin-top: 4px 0 0 0;
  display: flex;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.3rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
  /*css cho cac the li len cung mot hang*/
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  align-items: center;
  display: flex;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}
.header__navbar-user {
  display: flex;
  justify-items: center;
  position: relative;
}
/*Khi hover vào navbar-user thì hiện ra navbar-user-menu*/
.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}
.header__navbar-user-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-menu {
  position: absolute; /*De dua menu thanh con cua navbe user*/
  padding: 8px 0px;
  top: calc(100% + 6px);
  right: 0;
  width: 160px;
  list-style: none;
  background-color: var(--white-color);
  border-radius: 2px;
  z-index: 1;
  box-shadow: 0 1px 2px #e0e0e0;
  display: none;
}

/*Tạo con trỏ lên (1/4 border)*/
.header__navbar-user-menu::before {
  content: "";
  border-style: solid;
  border-width: 20px 30px;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 1px;
  top: -30px;
}

.header__navbar-user-menu::after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  right: 0;
  width: 56%;
  height: 8px;
}

.header__navbar-user-item--separate {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  display: block;
  padding: 4px 16px;
}

.header__navbar-user-item a:hover {
  background-color: #fafafa;
}
/*Xử lý cho 2 góc khi hover vào bị vuông*/
.header__navbar-user-item a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.header__navbar-user-name {
  margin-left: 4px;
  font-size: 1.4rem;
  font-weight: 400;
}

.header__navbar-item--has-notify:hover .header__notify {
  display: block;
}
.header__navbar-item--has-qr:hover .header__qr {
  display: block;
}

.header__navbar-item--strong {
  font-weight: 400;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 12px;
  background-color: #fb9086;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}

.header__navbar-icon-link:hover,
.header__navbar-item:hover,
.header__navbar-item-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navber-icon-link:nth-child(2) {
  margin-left: 3px;
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.header__navbar-title--no-pointer {
  cursor: text;
  color: var(--white-color);
}

/*Header QR code*/
.header__qr {
  background-color: var(--white-color);
  width: 186px;
  position: absolute;
  left: 0;
  top: 120%;
  padding: 8px;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.3s;
  z-index: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
/*tạo cầu nối khi hover tránh trượt*/
.header__qr::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 20px;
  left: 0;
  top: -16px;
}

.header__qr-img {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
}

.header__qr-download-img {
  height: 15px;
}

.header__qr-link:nth-child(1) {
  margin-left: 11px;
}
.header__qr-link:nth-child(2) {
  margin-right: 11px;
}
/*Header notification*/
.header__notify {
  position: absolute;
  z-index: 1;
  top: 120%;
  border-radius: 2px;
  right: 0;
  width: 404px;
  background-color: var(--white-color);
  border: 1px solid #d3d3d3;
  cursor: text;
  animation: headerNotifyGrowth ease-in 0.25s;
  transform-origin: calc(100% - 32px) top; /*can tam cho transform*/
  display: none;
  will-change: opacity, transform;
}
.header__notify::before {
  content: "";
  border-style: solid;
  border-width: 20px 30px;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 1px;
  top: -30px;
}

.header__notify::after {
  content: "";
  display: block;
  position: absolute;
  width: 90px;
  height: 20px;
  right: 0;
  top: -16px;
}

@keyframes headerNotifyGrowth {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
}
.header__notify-header h3 {
  color: #666;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px;
}
.header__notify-list {
  padding-left: 0;
}
.header__notify-item {
  display: flex;
}
.header__notify-item:hover {
  background-color: #f7f7f7;
}

.header__notify-item--viewed {
  background-color: rgba(238, 75, 43, 0.09);
}
.header__notify-link {
  display: flex;
  width: 100%;
  padding: 12px;
  text-decoration: none;
}
.header__notify-img {
  width: 48px;
  object-fit: contain;
}
.header__notify-info {
  flex: 1;
  margin-left: 12px;
}
.header__notify-name {
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.8rem;
}
.header__notify-description {
  display: block;
  font-size: 1.2rem;
  color: #756f6e;
  line-height: 1.6rem;
  margin-top: 4px;
}
.header__notify-footer {
  display: flex;
}

.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  margin: auto;
  padding: 8px 32px;
  font-size: 1.4rem;
  font-weight: 400;
}
/* Authen modal */
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}
.authen-form__container {
  padding: 0 32px;
}
.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 12px;
}
.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}
.auth-form__switch-btn {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
}
.auth-form__form {
  margin-top: 16px;
}

.auth-form__input {
  height: 40px;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 6px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
}

.auth-form__input:focus {
  border-color: #777;
}
.auth-form__aside {
  margin-top: 18px;
}
.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
}
.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
}
.auth-form__control {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}
.auth-form__control-back {
  margin-right: 8px;
}

.auth-form__social {
  background-color: #f5f5f5;
  padding: 12px 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.auth-form__social-icon {
  font-size: 1.8rem;
}
.auth-form__social--fb {
  background-color: #3a5a98;
  color: var(--white-color);
}
.auth-form__social--fb .auth-form__social-icon {
  color: var(--white-color);
}

.auth-form__social-title {
  margin: 0 32px;
}

.auth-form__social--gg {
  background-color: var(--white-color);
  color: #666;
}
.auth-form__help {
  display: flex;
  justify-content: flex-end;
}
.auth-form__help-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #939393;
}

.auth-form__help-seperate {
  display: block;
  border-left: 1px solid #eaeaea;
  margin: 0px 16px 2px;
  height: 22px;
}

.auth-form__help-forgot {
  color: var(--primary-color);
}

/* Header-with-search */
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  padding: 0 8px;
}
.header__logo {
  width: 200px;
}
.header__logo-img {
  width: 150px;
}
.header__logo-link {
  text-decoration: none;
  color: transparent;
}
.header_search {
  background-color: var(--white-color);
  height: 40px;
  flex: 1; /*chiem het chieu ngang. neu co phan tu sau hoac trc se tu co lai cho vua width*/
  border-radius: 2px;
  display: flex;
  align-items: center;
}
.header_cart {
  width: 150px;
  text-align: center;
}
/*Làm hover hiện ra ẩn vào*/
.header_cart-wrap {
  position: relative;
  display: inline-block;
  padding: 0 12px;
  cursor: pointer;
}
.header__cart-icon {
  color: var(--white-color);
  margin-top: 4px;
}

.header_cart-list {
  position: absolute;
  top: calc(100% + 8px);
  right: -1px;
  background-color: var(--white-color);
  width: 400px;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  display: none;
  cursor: default;
  animation: fadeIn ease-in 0.2s; /*Hiện ra từ từ*/
  z-index: 1;
}
/*Làm hover hiện ra ẩn vào*/
.header_cart-wrap:hover .header_cart-list {
  display: block;
}
/*Làm mũi tên trỏ lên xuống*/
.header_cart-list::after {
  content: "";
  position: absolute;
  right: 3px;
  top: -26px;
  border-width: 16px 20px;
  border-style: solid;
  cursor: pointer;
  border-color: transparent transparent var(--white-color) transparent;
}

.header_cart-list--no-cart {
  padding: 28px 0;
}

.header_cart-list--no-cart .header_cart-no-cart-img,
.header_cart-list--no-cart .header_cart-list-no-cart-msg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header_cart-no-cart-img {
  width: 50%;
  display: none;
}

.header_cart-list-no-cart-msg {
  display: none;
  font-size: 1.4rem;
  margin-top: 14px;
  color: var(--text-color);
}

.header_cart-notice {
  position: absolute;
  padding: 1px 6px;
  background-color: var(--white-color);
  color: var(--primary-color);
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-radius: 10px;
  border: 2px solid #ee4d2d;
  top: -4px;
  right: -4px;
}
.header_search-input-wrap {
  height: 100%;
  flex: 1;
  position: relative;
}
.header_search-input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 3px;
}
.header_search-input:focus ~ .header_search-history {
  display: block;
}

.header_search-select {
  border-left: 1px solid #ccc;
  padding-left: 16px;
  position: relative;
}

.header_search-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}
.header_search-select-icon {
  font-size: 1.4rem;
  color: #4a4a4a;
  margin: 0 16px 0 8px;
  position: relative;
  top: 1px;
}

.header_search-btn {
  background-color: var(--primary-color);
  border: none;
  height: 36px;
  border-radius: 3px;
  margin-right: 3px;
  width: 60px;
  outline: none;
}
.header_search-select:hover .header_search-option {
  display: block;
}
.header_search-btn-icon {
  font-size: 1.4rem;
  color: var(--white-color);
}

.header_search-btn:hover {
  background-color: #ec593c;
  cursor: pointer;
}

.header_search-option {
  position: absolute;
  right: 0;
  top: calc(100% - 2px);
  width: 130px;
  list-style: none;
  box-shadow: 0 1px 2px #c0c0c0;
  padding-left: 0;
  border-radius: 3px;
  animation: fadeIn ease-in 0.2s;
  display: none;
  z-index: 1;
}

.header_search-option:before {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  top: -10px;
  left: 0;
  position: absolute;
}
.header_search-option-item {
  background-color: var(--white-color);
  margin-top: 6px;
  padding: 8px 8px;
}

.header_search-option-item:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.header_search-option-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header_search-option-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.header_search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}

.header_search-option-item i {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin: 0 0 0 12px;
  display: none;
}

.header_search-option-item--active i {
  display: inline-block;
}

.header_search-history {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white-color);
  border-radius: 3px;
  box-shadow: 0 1px 5px #999;
  display: none;
  z-index: 1;
}
.header_search-history-heading {
  margin: 12px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}
.header_search-history-list {
  padding-left: 0;
  list-style: none;
  margin: 8px 0 0;
}
.header_search-history-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.header_search-history-item {
  height: 38px;
  padding: 0 12px;
}
.header_search-history-item:hover {
  background-color: #fafafa;
}
.header_search-history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 38px;
  color: var(--text-color);
  display: block;
}

.header_cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}
.header_cart-list-item {
  padding-left: 0;
  list-style: none;
  height: 70vh;
  overflow-y: auto;
}
.header_cart-item {
  display: flex;
  align-items: center;
}
.header_cart-item:hover {
  background-color: #f8f8f8;
}
.header_cart--img {
  height: 42px;
  width: 42px;
  margin: 12px;
  border: 1px solid var(--border-color);
}

.header_cart-item-info {
  width: 100%;
  margin-right: 12px;
}
.header_cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_cart-item-name {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  margin: 0 0 10px 0;
  /* line-height: 2rem;
  height: 4rem; */
  overflow: hidden;
  /* flex: 1; */
}

.header_cart-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}
.header_cart-item-multiply {
  color: #757575;
  font-size: 1rem;
  margin: 0 4px;
}
.header_cart-item-qnt {
  color: #757575;
  font-size: 1.2rem;
}
.header_cart-item--body {
  display: flex;
  justify-content: space-between;
}
.header_cart-item-description {
  color: #757575;
  font-size: 1.2rem;
  font-weight: 300;
}
.header_cart-item-remove {
  color: var(--text-color);
  font-size: 1.4rem;
}
.header_cart-item-remove:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.header_cart-view-cart {
  float: right;
  margin: 0 12px 12px 0;
}
.header_cart-view-cart:hover {
  background-color: #f05d41;
}

/* app__container */
.app__container {
  background-color: #f5f5f5;
}

.app__content {
  padding-top: 36px;
}

.category {
  background-color: var(--white-color);
  border-radius: 2px;
}
.category__heading {
  font-size: 1.7rem;
  color: var(--text-color);
  padding: 12px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 0;
}
.category__heading-icon {
  font-size: 1.4rem;
  margin-right: 4px;
  position: relative;
}

.category-list {
  list-style: none;
  padding: 0 0 8px 0;
  margin-left: 10px;
}

.category-item--active .category-item__link {
  color: var(--primary-color);
}

.category-item--active .category-item__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8px;
  border: 4px solid;
  transform: translateY(-50%);
  border-color: transparent transparent transparent var(--primary-color);
}
.category-item__link {
  text-decoration: none;
  position: relative;
  color: var(--text-color);
  font-size: 1.5rem;
  padding: 6px 16px;
  display: block;
  transition: right linear 0.1s; /*Sử dụng khi có chuyển động (Khi hover).*/
  right: 0;
}

.category-item__link:hover {
  right: -4px;
  color: var(--primary-color);
}

/*Home sort + filter*/
.home-filter {
  background-color: rgba(0, 0, 0, 0.04);
  display: flex;
  padding: 12px 22px;
  border-radius: 2px;
  align-items: center;
}

.home-filter__label {
  font-size: 1.4rem;
  color: #555555;
  margin-right: 16px;
}
.home-filter__btn {
  margin-right: 12px;
  min-width: 90px;
}

.home-filter__page {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.home-filter__page-num {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-right: 22px;
}
.home-filter__page-current {
  color: var(--primary-color);
}
.home-filter__page-control {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}
.home-filter__page-btn {
  flex: 1;
  display: flex;
  background-color: var(--white-color);
  text-decoration: none;
}

.home-filter__page-btn:first-child {
  border-right: 1px solid #eee;
}

.home-filter__page-icon {
  margin: auto;
  font-size: 1.4rem;
  color: #555;
}

.home-filter__page-btn--disabled {
  background-color: #f9f9f9;
}
.home-filter__page-btn--disabled .home-filter__page-icon {
  color: #ccc;
}
.home-product-item-wrapper {
  margin-bottom: 10px;
}
.home-product-item {
  background-color: var(--white-color);
  margin-top: 10px;
  position: relative;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);
  transition: transform linear 0.1s;
  will-change: transform;
}

.home-product-item:hover {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
  transform: translateY(-1px);
}
.home-product-item__img {
  padding-top: 100%;
  background-size: contain;
}
.home-product-item__name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.8rem;
  height: 3.6rem;
  margin: 10px 10px 6px;
  overflow: hidden;
  /*Làm dấu 3 chấm khi dòng chữ quá dài*/
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /* text-overflow: ellipsis; */
}
.home-product-item__price {
  display: flex;

  flex-wrap: wrap; /*vượt quá sẽ nhảy xuống dòng*/
  align-items: baseline;
}
.home-product-item__price-old {
  font-size: 1.4rem;
  color: #666;
  text-decoration: line-through;
  margin-left: 10px;
}
.home-product-item__price-current {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-left: 10px;
}
.home-product-item__action {
  display: flex;
  justify-content: space-between;
  margin: 6px 10px 0;
}
.home-product-item__like {
  font-size: 1.3rem;
}
i.home-product-item__like-icon-fill {
  display: none;
  color: #f63d30;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
  display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
  display: none;
}
.home-product-item__rating {
  font-size: 0.8rem;
  color: #d5d5d5;
  margin: -1px 0 0 auto;
}
.home-product-item__star--gold {
  color: var(--star-gold-color);
}
.home-product-item__sold {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 6px;
}

.home-product-item__origin {
  display: flex;
  justify-content: space-between;
  margin: 3px 10px 0;
  color: #595959;
  font-size: 1.2rem;
  font-weight: 300;
}

.home-product-item__favourite {
  position: absolute;
  top: 10px;
  left: -4px;
  background-color: currentColor;
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 500;
  padding-right: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.home-product-item__favourite::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(60%);
}
.home-product-item__favourite i {
  font-size: 0.9rem;
  margin: 0 2px 0 5px;
  color: var(--white-color);
}
.home-product-item__favourite span {
  color: var(--white-color);
}
.home-product-item__sale-off {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 36px;
  background-color: rgba(255, 216, 64, 0.94);
  text-align: center;
}
.home-product-item__sale-off-percent {
  color: #ee4d2d;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.2rem;
  position: relative;
  top: 1px;
}
.home-product-item__sale-off-label {
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 600;
  position: relative;
  /* top: -9px; */
  color: var(--white-color);
}
.home-product-item__sale-off::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  border-width: 0 20px 4px;
  border-style: solid;
  border-color: transparent rgba(255, 216, 64, 0.94) transparent
    rgba(255, 216, 64, 0.94);
}
.home-product__pagination {
  margin: 48px 0 32px 0;
}

.footer {
  border-top: 4px solid var(--primary-color);
  padding-top: 16px;
}

.footer__heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--text-color);
}

.footer-list {
  padding-left: 0;
  list-style: none;
}

.footer-item__link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #737373;
  padding: 2px 0;
  display: block;
}
.footer-item__link:hover {
  color: var(--primary-color);
}
.footer-item__icon {
  font-size: 1.8rem;
  margin-right: 8px;
}

.footer__download {
  display: flex;
}
.footer__download-qr {
  width: 80px;
  object-fit: contain;
  border: 1px solid var(--border-color);
  height: 80px;
}
.footer__download-apps {
  margin-left: 16px;
}
.footer__download-app-img {
  height: 20px;
}

.footer__download-apps {
  text-decoration: none;
  color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__bottom {
  background-color: #f5f5f5;
  padding: 8px 0;
  margin-top: 36px;
}

.footer__text {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  color: #737373;
}
